body {
    background-color: #F1FFFA;
    color: #000000;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    color: rgb(88, 0, 0);
}

h1 {
    font-size: 2rem;
}

li {
    font-size: 1.2rem;
}

p {
    font-size: 1.1rem;
    line-height: 23px;
}

#side-div {
    background-color: #93B7BE;
    height: 100vh;
    width: 15%;
    position: fixed;
    left: 0;
    top: 0;
}

.group {
    background-color: rgba(95, 158, 160, 0.459);
    margin-bottom: 5px;
}

.box {
    margin: 1px 0;
}

.box a {
    font-size: 1.2rem;
    color: #edf6f9;
    display: inline-block;
    margin: 3px auto;
    width: 80%;
    /* text-align: center; */
    padding-left: 10px;
}

ul.box a {
    width: 60%;
    color: #17472d;
}

ul.box a.small {
    font-size: 1rem;
    width: 80%;
    margin: 0;
}

a.smallsm {
    font-size: 0.9rem;
    margin: 0;
}

#right-box {
    width: 85%;
    margin-left: auto;
    padding: 20px;
    box-sizing: border-box;
}

.content-box {
    background-color: rgba(0, 180, 216, 0.3);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.inside-content {
    background-color: rgba(255, 255, 255, 0.377);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.in {
    background-color: rgba(0, 0, 0, 0.158);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: black;
}

.wh {
    background-color: rgba(255, 255, 255, 0.37);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: black;
}


/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background-color: #ccc;
}


/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}


/* part */

.part {
    display: flex;
    justify-content: space-around;
}

.part>div {
    width: 48%;
    border: 2px solid rgb(117, 0, 0);
    padding: 5px;
}